{% extends "app/layout.html" %}
{% block content %}
<!--<h1> {{ title }}. </h1>-->
<hr />
<div>
    <h2>21 Savage Представляет Nardo Wick В Лос-Анджелесе На Форуме Kia</h2>
    <VIDEO src="/media/video1.mp4" controls="controls" width="1280" height="720" poster="/media/zastavka1.jpg"></VIDEO>
</div>
<hr />
<div>
    <h2>Ava Max о Том, Как вдохновлялась Britney Spears для "My Oh My"</h2>
    <VIDEO src="/media/video2.mp4" controls="controls" width="1280" height="720" poster="/media/zastavka2.jpg"></VIDEO>
</div>
{% endblock %}
